.pikachu {
    width: 400px;
    height: 285px;
    bottom: 0%;
    position: absolute;
    margin-bottom: 5%;
    background: url("pikachu.png");
    animation: run 0.3s steps(4) infinite, move 6s steps(100) infinite;
  }

  .charizard {
    width: 500px;
    height: 360px;
    top: 5%;
    right: 0%;
    position: absolute;
    margin-bottom: 5%;
    background: url("charizard.png");
    animation: fly 0.3s steps(4) infinite, move2 6s steps(100) infinite;
  }

  @keyframes run {
    100% {
      background-position: -1600px;
      }
  }

  @keyframes move {
    100% {
      margin-left: 100%;
      }
  }

  @keyframes move2 {
    100% {
      margin-right: 100%;
      }
  }

  @keyframes fly {
    100% {
      background-position: -2000px;
      }
  }

  body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    background-size: cover;
  }